* {
	padding: 0;
	margin: 0;
}

body {
	font-family: Helvetica, Arial, sans-serif;
	color: #555;
}

.dnone {
	display: none;
}

#wrapper.home {
	width: 700px;
	height: 230px;
	margin: 100px auto 0;
	background-color: #f1f1f1;
	border: 1px solid #ccc;
	border-radius: 5px;
}

#wrapper.chat {
	width: 600px;
	height: 100%;
	margin: 0 auto;
}


#wrapper.home h1 {
	font-weight: 100;
	line-height: 70px;
	text-align: center;
}

#wrapper.home h2 {
	font-weight: 100;
	margin-bottom: 10px;
}

#wrapper.home .room-box,
#wrapper.home .login-box {
	width: 280px;
	height: 110px;
	padding: 15px;
	background-color: #dedede;
	border: 1px solid #aaa;
	border-radius: 5px;
}

#wrapper.home .room-box {
	float: left;
	margin-left: 30px;
}

#wrapper.home .room-box .password-room {
	width: 260px;
	padding: 10px;
	border-radius: 5px;
	cursor: pointer;
	text-align: center;
	border: 1px solid #aaa;
	background-color: #ccc;
}

#wrapper.home .room-box .password-room.generated {
	background-color: #cfc;
}

#wrapper.home .login-box {
	float: right;
	margin-right: 30px;
}

#wrapper.home .login-box input {
	height: 30px;
	width: 280px;
	padding: 0 10px;
	margin: 5px 0;
	border: 1px solid #aaa;
}

.login-box #submit {
	display: none;
}

#chat {
	width: 400px;
	height: 450px;
	float: left;
	background-color: #ccc;	
	font-size: 14px;
	position: absolute;
	bottom: 0px;
}

#chat #ChatMessages {
	list-style: none;
	height: 400px;
	overflow-y: scroll;
}

#chat #ChatMessages li {
	padding: 10px;
	background-color: #ddd;
	margin: 1px;
}

#chat input {
	height: 30px;
	width: 380px;
	padding: 0 10px;
	border: 1px solid #aaa;
	margin: 10px;
}

aside {
	width: 180px;
	float: right;
}

aside ul {
	list-style: none;
	overflow-y: scroll;
	overflow-x: hidden;
}